<!DOCTYPE html>
<html>
<head>
	<title>View Job</title>
<style type="text/css">
	
	div#logout {
		align-content: right;
		display: inline-block;
		margin: 5px 5px 5px 600px;
	}

	div#job {
		border: 1px solid black;
		width: 225px;
	}
</style>
</head>
<body><form action="logout" method="post">
		{% csrf_token %}
		<div id="logout">
			<h1></h1>
			<a href="/dashboard">Back</a>
			<a href="/logout">Logout</a>
		</div>
	</form>

	<p>{{ job.title }}</p>
	<div id="job">
		<p>{{ job.description }}</p>
		<p>{{ job.location }}</p>
		<p>Posted by: {{ job.created_by.first_name }} {{ job.created_by.last_name }}</p>
		<p>Posted on: {{ job.created_at }}</p>
	</div>
	<a href="">Add to My Jobs</a>
</body>
</html>